<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ala</title>
</head>
<body>
    <form class="formulario" action="/cadastrar" method="POST">
            <h2>Preencha o formulário de filmes:</h2>
            <br><br>

            <label>Nome do Filme: </label>
            <input type="text" name="nome"> <br><br>

            <label>Sinopse: </label><br>
            <textarea name="sinopse" id="" cols="30" rows="10"> </textarea> <br><br>

            <label>Genero: </label>
            <input type="text" name="genero"> <br><br>

            <label>Duração: </label>
            <input type="time" name="duracao"> <br><br>

            <label>Data Lançamento: </label>
            <input type="date" name="dataLancamento"> <br><br>
            <a href="registroFilme"></a><button>Cadastrar</button>
    </form>

</body>
</html>